@import "tailwindcss";

@theme {
  --color-primary-light: #4f46e5;
  --color-primary: #4338ca;
  --color-primary-dark: #3730a3;

  --color-secondary-light: #f3f4f6;
  --color-secondary: #e5e7eb;
  --color-secondary-dark: #d1d5db;

  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}